/_build/
/cover/
/deps/
/doc/
/.fetch
erl_crash.dump
*.ez
leetcode-*.tar
/tmp/
/.vscode
*.class

/target
/node_modules
/_build
/deps
.tool-versions
src/__pycache__

/.settings
/app/.settings
/app/bin
/app/.classpath
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
